@font-face {
    font-family: General;
    src: url(general);
}
body {
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'General';
}
div.content {
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 200px;
}
