@font-face {
    font-family: General;
    src: url(general);
}
body {
    margin-top: 0px;
    margin-left: 0px; 
    margin-right: 0px;
    margin-bottom: 0px;
    font-family: 'General';
}
div.content {
    padding: 0px 15px;
    min-height: 450px;
}
a {
    text-decoration: none;
    color: #05f;
}
div.listheadertop {
    width: 100%;
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 3px #baa;
    padding: 8px 0px;
}
div.listheadertit {
    font-size: 25px;
    font-weight: 600;
    color: #444;
    flex: 1;
    text-align: left;
    margin-bottom: 0px;
}
div.listheadertopsubtit {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    border-bottom: solid 3px #baa;
    padding: 8px 0px;
}
div.listheadertitsecondary {
    font-size: 20px;
    font-weight: 600;
    color: #444;
    flex: 1;
    text-align: left;
    margin-top: auto;
    margin-bottom: 0px;
}
div.listheaderadd {
    flex: 1;
    font-size: 15px;
    height: 15px;
    margin-top: auto;
    margin-bottom: 3px;
    text-align: right
}
div.submenu {
    display: flex; 
    flex-direction: row; 
    font-size: 15px; 
    margin-top: 50px
}
